.headerContainer {
    background-color: #020181;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    position: relative;
}

.headerContent {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.profileSection {
    display: flex;
    align-items: center;
    position: relative;
}

.profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #020181;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.profileName {
    margin-left: 10px;
    font-size: 16px;
}

.dropdownButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.dropdownIcon {
    font-size: 24px;
    color: #fff;
}

.logoutMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    padding: 10px;
    z-index: 10;
}

.logoutMenu.show {
    display: flex;
}

.logoutButton {
    background-color: #ef4444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.logoutButton svg {
    margin-right: 8px;
}

.logoutButton:hover {
    background-color: #d43f3f;
}
